* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 23px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: white;
}

.hero {
    margin: auto;
    display: block;
    background-color: rgb(218, 218, 218);
    border-radius: 8px;
    max-width: 1400px;
    min-width: 350px;
    padding: 25px 10px;
    overflow: hidden;
    box-shadow: 0 0 4px 4px white;
}

.hero .name,
.hero .who {
    letter-spacing: 0.16rem;
    padding: 17px;
    margin: 0 auto;
    text-align: center;
}

.hero .name {
    font-weight: 800;
}

.middle {
    background-color: white;
    overflow: hidden;
    margin: auto;
    justify-content: center;
    text-align: center;
}

img {
    object-fit: cover;
    max-width: 100%;
}

.desc {
    margin: 0 auto;
    padding: 0;
}

.desc ul {
    width: 43%;
    margin: auto;
    max-width: 550px;
}

@media only screen and (max-width:992px) {
    .desc ul {
        width: 90%;
    }
}

.desc h1 {
    text-align: center;
    margin: 0 auto;
    padding: 60px;
    font-size: 1.1rem;
}

li {
    margin: 17px 0;
}

.desc .some {
    font-size: 1.1 rem;
}

.last {
    width: 43%;
    margin: 40px auto;
}

.lastH {
    width: 70%;
    margin: 40px auto 0 auto;
    font-size: 1.1rem;
}